<template>
  <v-container>
    <v-card flat>
      <v-card-title class="display-1 justify-center"
        >Write your own story</v-card-title
      >
      <v-row>
        <v-col cols="8">
          <v-text-field
            v-model="title"
            label="Title"
            full-width
            hide-details
            single-line
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-select
            v-model="category"
            items="categories"
            label="Category"
            single-line
            full-width
            hide-details
          ></v-select>
        </v-col>
      </v-row>
      <v-text-field
        v-model="overview"
        label="Overview"
        single-line
        full-width
        hide-details
      >
        <v-divider></v-divider>
      </v-text-field>
      <v-textarea
        rows="4"
        v-model="article"
        label="Article"
        counter
        full-width
        single-line
      />
      <v-btn text rounded x-large outlined class="mr-4 mt-6"> submit </v-btn>
    </v-card>
  </v-container>
</template>
<script>
export default {
  data() {
    return {}
  },
}
</script>
