<template>
  <v-row class="justify-center">
    <v-card class="ma-8">
      <v-card-title>
        <v-row> Title: {{ articles.title }} </v-row>
      </v-card-title>
      <v-card-text>
        <v-row>
          <span>
            Category:
            {{ articles.category }}
          </span></v-row
        >
        <v-row>
          <span>
            Overview:
            {{ articles.overview }}
          </span>
        </v-row>
        <v-row>
          <span>
            Paragraph:
            {{ articles.paragraph }}
          </span>
        </v-row>
        <v-row>
          <span>
            Image:
            {{ articles.image }}
          </span></v-row
        >
        <v-row>
          <span>
            Creator:
            {{ articles.user.name }}
          </span>
        </v-row>
      </v-card-text>
    </v-card>
  </v-row>
</template>

<script>
export default {
  name: 'PublicArticleCard',
  props: {
    articles: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>