<template>
  <v-row class="justify-center mt-4">
    <v-col cols="4">
      <v-btn text rounded class="primary">Blood</v-btn>
    </v-col>
    <v-col cols="4">
      <v-btn text rounded class="accent">Sweat</v-btn>
    </v-col>
    <v-col cols="4">
      <v-btn text rounded class="warning">Tears</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {}
</script>
