<template>
  <v-card
    width="40vw"
    class="pa-8"
    outlined
    rounded="xl"
    elevation="5"
    :style="style"
  >
    <v-form @submit.prevent="$emit('registration', credentials)">
      <v-card-text class="text-center text-h6 pb-6 jhc1--text">
        {{ $route.query.type }} Registration
      </v-card-text>
      <v-card-text class="my-0">
        <v-row no-gutters>
          <v-col cols="12" class="mb-4 pt-0 mt-0">
            <v-text-field
              v-model="credentials.name"
              label="Name"
              prepend-inner-icon="mdi-account"
              color="jhc1"
              dense
            />
          </v-col>
          <v-col cols="12" class="mb-4 pt-0 mt-0">
            <v-text-field
              v-model="credentials.username"
              label="Username"
              prepend-inner-icon="mdi-key"
              color="jhc1"
              dense
              :disabled="!credentials.name"
            />
          </v-col>
          <v-col cols="12" class="mb-4 pt-0 mt-0">
            <v-text-field
              v-model="credentials.phone"
              label="Phone"
              prepend-inner-icon="mdi-phone"
              color="jhc1"
              hint="Awali dengan angka Nol"
              dense
              type="number"
              :disabled="!credentials.username"
            />
          </v-col>
          <v-col cols="12" class="mb-4 pt-0 mt-0">
            <v-text-field
              v-model="credentials.email"
              label="Email"
              prepend-inner-icon="mdi-email"
              color="jhc1"
              dense
              :disabled="!credentials.phone"
            />
          </v-col>
          <v-col cols="12" class="mb-2">
            <v-text-field
              v-model="credentials.password"
              label="Password"
              prepend-inner-icon="mdi-key"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPassword ? 'text' : 'password'"
              color="jhc1"
              dense
              :disabled="!credentials.email"
              @click:append="showPassword = !showPassword"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="pb-0 pt-0">
        <v-btn
          type="submit"
          block
          color="primary"
          class="white--text text-none font-weight-bold"
          rounded
          large
          :disabled="!credentials.password"
          >Submit
        </v-btn>
      </v-card-actions>
      <v-card-text class="text-center">
        already have?
        <login-dialog @login="handleLogin" />
      </v-card-text>
    </v-form>
  </v-card>
</template>

<script>
import LoginDialog from './LoginDialog.vue'
export default {
  components: { LoginDialog },
  data() {
    return {
      showPassword: false,
      style: {
        opacity: 1,
      },
      credentials: {},
    }
  },
  methods: {
    async handleLogin(form) {
      try {
        await this.$auth.loginWith('local', { data: form })
        if (this.$auth.user) {
          this.$toast.info('Welcome, ' + this.$auth.user.name)
          this.$router.push('/app/home')
        } else {
          this.$toast.info('Please, Login First')
        }
      } catch (err) {
        const attribute = Object.keys(err.response.data.errors)
        attribute.forEach((element) => {
          this.$toast.error(err.response.data.errors[element])
        })
      }
    },
  },
}
</script>