<template>
  <v-container>
    <v-row no-gutters class="justify-center">
      <v-card flat>
        <v-card-title class="display-4 nonbasic--text">
          Medium well is a place to <br />write, read, and connect
        </v-card-title>
      </v-card>
    </v-row>
    <v-divider class="mt-8"></v-divider>
    <v-row>
      <v-card flat class="mt-6">
        <category />
        <v-row class="mt-6">
          <article-card v-for="(value, idx) in articles"
      :key="idx"
      :articles="value"/>
        </v-row>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import ArticleCard from './ArticleCard.vue'
import Category from './Category.vue'
export default {
  components: { ArticleCard, Category },
  data() {
    return {
      public: {},
      articles: [],
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      try {
        const {
          data: { results },
        } = await this.$axios.get(`/api/public`)
        this.public = results
        this.articles = results.articles
      } catch (err) {
        this.$toastResp.error(err.response)
      }
    },
  },
}
</script>
