<template>
  <v-container>
    <v-row no-gutters class="justify-center">
      <v-card flat>
        <v-card-title class="display-4 nonbasic--text">
          Medium well is a place to <br />write, read, and connect
        </v-card-title>
      </v-card>
    </v-row>
    <v-divider class="mt-8"></v-divider>

    <v-row class="mt-4">
      <v-col cols="8">
        <v-card flat height="90vh">
          <v-card-title class="display-2 font-weight-light">
            Article List
          </v-card-title>
          <article-card />
        </v-card>
      </v-col>

      <v-col cols="4">
        <v-card-title class="display-1 font-weight-light"
          >Discover Category</v-card-title
        >
        <category />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ArticleCard from './ArticleCard.vue'
import Category from './Category.vue'
export default {
  components: { ArticleCard, Category },
  data() {
    return {}
  },
}
</script>
