<template>
  <v-dialog v-model="dialog" persistent width="400">
    <template #activator="{ on, attrs }">
      <v-btn class="nonbasic" dark rounded text small v-bind="attrs" v-on="on">
        Login
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="font-weight-light headline">
        Login to Medium Well <v-spacer />
        <v-icon class="" @click="dialog = false">mdi-close</v-icon>
      </v-card-title>
      <v-form
        class="pa-4 text-center"
        @submit.prevent="$emit('login', credentials)"
      >
        <v-card-text class="pb-0">
          <v-row no-gutters>
            <v-col cols="12" class="mb-4 pt-0 mt-0">
              <v-text-field
                v-model="credentials.identifier"
                label="Username/Email"
                prepend-inner-icon="mdi-account"
                hint="enter your username/email"
                color="nonbasic"
                dense
              />
            </v-col>
            <v-col cols="12" class="mb-2">
              <v-text-field
                v-model="credentials.password"
                label="Password"
                prepend-inner-icon="mdi-key"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                hint="enter your password"
                color="nonbasic"
                dense
                @click:append="showPassword = !showPassword"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            type="submit"
            block
            class="nonbasic basic--text font-weight-bold"
            large
          >
            Submit
          </v-btn>
        </v-card-actions>
        <v-row no-gutters>
          <v-col align-self="center">
            <span> Doesn't have account? </span>
            <v-btn
              small
              text
              color="nonbasic"
              class="text-none"
              @click="handleRegistration"
            >
              Register Here
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'LoginDialog',
  props: {},
  data() {
    return {
      dialog: false,
      add: {},
      credentials: {},
      showPassword: false,
    }
  },
  methods: {
    handleRegistration() {
      this.dialog = false
      this.$router.push('/registration')
    },
  },
}
</script>
