<template>
  <div>
    <v-app-bar flat color="basic" dense>
      <v-toolbar-title
        class="font-weight-light display-1"
        @click="$router.go(0)"
        >MEDIUM WELL</v-toolbar-title
      >

      <v-spacer></v-spacer>
      <login-dialog @login="handleLogin" />
    </v-app-bar>
  </div>
</template>
<script>
import LoginDialog from './LoginDialog.vue'
export default {
  name: 'PublicNavigation',
  components: { LoginDialog },
  props: {
    menu: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      tab: 0,
    }
  },

  mounted() {},
  methods: {
    async handleLogin(form) {
      try {
        await this.$auth.loginWith('local', { data: form })
        if (this.$auth.user) {
          this.$toast.info('Welcome, ' + this.$auth.user.name)
          this.$router.push('/app/home')
        } else {
          this.$toast.info('Please, Login First')
        }
      } catch (err) {
        const attribute = Object.keys(err.response.data.errors)
        attribute.forEach((element) => {
          this.$toast.error(err.response.data.errors[element])
        })
      }
    },
  },
}
</script>
