<template>
  <div>
    <v-app-bar flat color="basic" dense>
      <v-toolbar-title
        class="font-weight-light display-1"
        @click="$router.go(0)"
        >MEDIUM WELL</v-toolbar-title
      >
      <v-spacer></v-spacer>
      <logout-user @logout="logout" />
    </v-app-bar>
  </div>
</template>
<script>
import LogoutUser from './LogoutUser.vue'
export default {
  name: 'UserNavigation',
  components: { LogoutUser },
  props: {
    menu: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {}
  },
  methods: {
    async logout() {
      try {
        const name = this.$auth.user.name
        await this.$auth.logout()
        this.$router.push('/')
      } catch (err) {}
    },
  },
}
</script>
