<template>
  <v-app>
    <v-main>
      <user-navigation />
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
import UserNavigation from '../components/UserNavigation.vue'
export default {
  components: { UserNavigation },
}
</script>
