<template>
  <v-app>
    <v-main>
      <public-navigation />
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
import PublicNavigation from '../components/PublicNavigation.vue'

export default {
  components: { PublicNavigation },
}
</script>
