<template>
  <v-container fluid class="justify-center">
    <create-article />
  </v-container>
</template>

<script>
import CreateArticle from '../components/CreateArticle.vue'

export default {
  components: { CreateArticle },
}
</script>
