<template>
  <v-container fluid class="justify-center text-center">
    <home-public />
  </v-container>
</template>

<script>
import HomePublic from '../components/HomePublic.vue'
export default {
  components: { HomePublic },
  layout: 'public',
  data() {
    return {
      public: {},
      articles: [],
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      try {
        const {
          data: { results },
        } = await this.$axios.get(`/api/public`)
        this.public = results
        this.articles = results.articles
      } catch (err) {
        this.$toastResp.error(err.response)
      }
    },
  },
}
</script>
